<div>
    <h3 ng-if='nothingFound'>Nothing found</h3>
    <table class='table' ng-if='displayItems.length > 0 && !nothingFound'>
    <tr>
      <th>Name</th>
      <th>Short name</th>
      <th>Description</th>
      <th>Remove</th>
    </tr>
    <tr ng-repeat='item in displayItems'>
      <td>{{ item.name }}</td>
      <td class='text-center'>{{ item.short_name }}</td>
      <td>{{ item.description }}</td>
      <td class='text-center'>
        <button class='btn-remove' ng-click='onRemove($index)'>
          Remove
        </button>
      </td>
    </tr>
  </table>
</div>
